.page {
  padding: 32px 0;
  background: var(--background);
  display: flex;
  gap: 70px;
}


.title {
  margin: 0 0 18px;
  color: var(--colorText);
  font-size: 22px;
}

.orders {
  flex-grow: 1;
}

.list {
  display: grid;
  gap: 10px;
}