.sidebar {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
}

.itemsList {
    list-style: none;
    padding: 0;
    overflow-y: auto;
}


.footer {
    margin-top: auto;
    border-top: 1px solid var(--light-gray);
    text-align: right;
}

.footerCost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    padding: 16px 0;

    span {
        font-weight: 400;
    }
}

.finalBtn {
    width: 100%;
}

.empty {
    text-align: center;
    color: gray;
    margin-top: 12px;
}
