.main {
    padding: 0 15px;
    max-width: none;
    margin: 0;
    overflow-y: scroll;
    transition: 0.3s;
}

.mainWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;

    h1 {
        margin-bottom: 0;
    }
}

.actions {
    display: flex;
    gap: 15px;
}

.addSection {
    width: 100%;
    background: transparent;
    position: relative;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addSection::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--light-gray);
    transform: translateY(-50%);
}

.addSectionBtn {
    background-color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
        background-color: #faf1e6 !important;
    }
}

.lastAddSectionBtn {
    opacity: 1 !important;
}

.addSection:hover .addSectionBtn {
    opacity: 1;
}

.sectionHeader {
    display: flex;
    align-items: center;
    gap: 10px;

    strong {
        flex-grow: 1;
    }
}

.sectionTitle {
    margin-bottom: 0;
    cursor: pointer;
}

.toggleArrow {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
        transition: 0.2s ease;
    }

    &.expanded {
        svg {
            transform: rotateX(180deg);
        }
    }
}

.sectionEdit {
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sectionDelete {
    color: var(--danger);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sectionActions {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.productsWrapper {
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 1000px;
    container-type: inline-size;
    container-name: products-wrapper;

    &:not(:has(.products > *)) {
        margin-top: 0;
    }

    &.collapsed {
        max-height: 0;
        margin-top: 5px;
    }
}
.products {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 15px;
    padding: 2px 1px;
}

@container products-wrapper (max-width: 1000px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}
@container products-wrapper (max-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }
}

.addProduct {
    border: 1px solid var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    min-height: 160px;
    border-radius: 15px;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--gray);
    box-shadow: inset 0 0 21px -3px rgba(0, 0, 0, 0.06);
    transition: 0.15s;

    svg {
        transition: stroke 0.15s;
    }

    &:hover {
        border: 1px solid var(--primary);
        color: var(--primary);

        svg {
            stroke: var(--primary);
        }
    }
}



