.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    background: transparent;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray);
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
    box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, 0.1);
}

.hasPreview {
    padding: 0;
    background: #f5f5f5;

    &:hover {
        .deleteBtn {
            display: block;
        }
    }
}

.previewWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;

    &:hover {
        .overlay {
            opacity: 1;
        }
        .actions {
            opacity: 1;
        }
    }
}

.preview {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: var(--border-radius);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
    border-radius: var(--border-radius);
}

.icon {
    color: var(--gray);
    margin-bottom: 8px;
}

.label {
    color: var(--placeholder-color);
}

.deleteBtn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    color: var(--text-color);
    transition: background 0.3s ease;

    &:hover {
        background: rgba(255, 255, 255, 1);
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
        .deleteBtn {
            display: none;
        }
    }
}

.actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    gap: 8px;
}

.actionBtn {
    svg {
        stroke: #fff;
        transition: stroke 0.15s ease;
    }

    &:hover {
        svg {
            stroke: var(--primary);
        }
    }
}

.error {
    border-color: var(--danger) !important;
    box-shadow: 0 0 2px var(--danger);

    span {
        color: var(--danger) !important;
    }
    svg {
        stroke: var(--danger) !important;
    }
}
