.wrapper {
    position: relative;
    display: inline-flex;
    background: #f5f5f5;
    border-radius: var(--border-radius);
    border: 2px solid #f5f5f5;
    overflow: hidden;
    gap: 6px;
    box-shadow: inset 0 0 8px -2px rgba(0, 0, 0, 0.1);
}

.button {
    position: relative;
    z-index: 1;
    background: transparent;
    border: none;
    height: 34px;
    padding: 0px 14px;
    cursor: pointer;
    transition: color 0.15s;
    color: #818181;
}

.buttonSelected {
    color: white;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--primary);
    border-radius: var(--border-radius);
    transition: left 0.3s ease, width 0.3s ease;
}
