.modalContainer {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100svh;
    max-height: 500px;
}

.info {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.header {
    text-align: left;
    margin-bottom: 16px;
}

.title {
    font-weight: 700;
    margin-bottom: 5px;
}

.variantInfo {
    display: flex;
    color: var(--gray);
    font-size: 16px;
    margin-bottom: 8px;
}

.description {
    font-size: 16px;
    color: #666;
    line-height: 1.4;
}

.ingredient {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 3px;
    text-underline-offset: 3px;
    text-decoration: underline dashed;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.15s;

    &:hover {
        text-decoration-color: #666;
    }
}

.removedIngredient {
    text-decoration: line-through;
}

.removeButton {
    border: 1px solid #666;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 40px;
}

.image {
    object-fit: cover;
}

.variants {
    margin-bottom: 16px;
}

.sectionTitle {
    margin-bottom: 14px;
}
.addons {
    overflow-y: auto;
}

.addonsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    flex-grow: 1;
}

.addon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    transition: background-color 0.2s;
    &:hover {
        background-color: #f5f5f5;
    }
}

.selected {
    border: 1px solid var(--primary);

    .addonCost {
        color: var(--primary);
    }
}

.addonImage {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 6px;
}

.addonName {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.addonCost {
    font-size: 15px;
    text-align: center;
    margin-top: auto;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-top: auto;

    button {
        width: 100%;
    }
}

.total {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
