.header {
    width: 100%;
    background: #ffffff;
    top: 0;
    z-index: 20;
}

.topRow {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.logoImg {
    width: 150px;
    height: auto;
}

.bottomRowWrapper {
    position: sticky;
    top: 0;
    z-index: 20;
    background: #fff;
    box-shadow: 0px 11px 11px -10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.bottomRow {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 25px;
    overflow: hidden;
    transform: translateX(-55px);
    transition: 0.3s;
}

.navItem {
    color: var(--colorText);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        color: var(--primary);
    }
}

.navLogo {
    transition: 0.3s;
    transform: translateX(-55px);
}

.navWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.cartBtn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);

    svg {
        stroke-width: 2px;
    }
}

.sentinalPlaceholder {
    width: 1px;
    height: 1px;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.sticky {
    .navLogo,
    .nav {
        transform: translateX(0);
    }
}

.userProfile {
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}