.title {
    font-size: 24px;
    margin-bottom: 16px;
    visibility: hidden;
}

.section {
    scroll-margin-top: 80px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}
