.input {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    height: 55px;
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    outline: none;
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
    &:focus {
        border: 1.5px solid var(--primary);
        box-shadow: 0 0 4px 0 #fe782b;
    }
    &::placeholder {
        color: #999;
    }

    &[readOnly] {
        &:focus, &:hover, &:active {
            border: 1px solid var(--light-gray) !important;
            outline: none;
            box-shadow: none;
        }
    }
}
.inputWrapper > div {
    position: relative;
    display: flex;
    flex-direction: column;
}
.adornment {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 6;
    stroke: var(--gray);
    transition: stroke 0.15s;
    svg {
        transition: 0.15 ease;
        stroke: var(--gray);
    }
    &:hover {
        stroke: #4d4d4d;
        svg {
            stroke: #414141;
        }
    }
}
.errorMessage {
    color: var(--danger);
    margin-top: 6px;
    font-size: 14px;
}
.error {
    border-color: var(--danger);
    &:focus {
        border: 1.5px solid var(--danger);
        box-shadow: 0 0 4px var(--danger);
    }
}
.disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}
